<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta author="linkins">
    <meta name="description" content="TODO">
    <meta name="keywords" content="TODO">
    <meta name="viewport" content="width=device-width">
    <title>Errore</title>

    <link rel="icon" href="../asset/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../asset/css/style.css" media="screen">
</head>

<body>
    <div class="errorPage">
        <h1>Errore di Connessione</h1>
        <p class="error">Siamo spiacenti, ma il server non è raggiungibile.</p>
        <p>Riprova più tardi o contatta l'amministratore di sistema.</p>
        <a href="login.php">Torna al login</a>
    </div>
</body>

</html>