<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta author="linkins">
    <!-- Qui abbiamo evitato di inserire keywords perchè dubitiamo che qualcuno voglia cercare gli errori nel motore di ricerca :) -->
    <meta name="description" content="Pagina di errore: impossibile connettersi al server. Prova a ricaricare la pagina o contatta l'amministratore di sistema per assistenza.">
    <meta name="viewport" content="width=device-width">
    <title>Errore</title>

    <link rel="icon" href="../asset/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../asset/css/style.css" media="screen">
</head>

<body>
    <div class="errorPage">
        <h1>Errore di Connessione</h1>
        <p class="error">Siamo spiacenti, ma il server non è raggiungibile.</p>
        <p>Riprova più tardi o contatta l'amministratore di sistema.</p>
        <a href="../index.php">Torna alla Home Page</a>
    </div>
</body>

</html>
