:root {
    --txtColor: #000;
}

* {
    filter: grayscale(100%);
}

@page {
    margin: 1.5cm;
}

main {
    width: 100%;
    margin-left: 0;
    margin-top: 0;   /*cambiato da: -5em*/
}

body {  /*o body *? */
    background-color: #fff;
    color: var(--txtColor);
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    line-height: 18pt;   /*verificare*/
}

a {
    text-decoration: underline;
    page-break-inside:avoid;
}

/*===== REGISTRAZIONE =====*/
.main-container {
    display: block;
    grid-template-columns: none;
    max-width: none;
    background: none;
    box-shadow: none;
    padding: 0;
}

.left-section h1{
    font-size: 2.5em;
    margin: 1em 0;
}

.left-section p:nth-of-type(2),
.left-section p:nth-of-type(3),
.left-section p:nth-of-type(4),
.input-container:nth-child(10),
.input-container:nth-child(11) {
    display: none;
}

.right-section form button {
    display: none;
}

#privacyModal h2,
#termsModal h2 {
    font-size: 1.5em;
}

.left-section, .right-section {
    width: 100%;
    display: block;
    background: none;
    box-shadow: none;
    padding: 0;
}

.main-container form {
    display: block;
    grid-template-columns: none;
}

.input-container {
    margin-bottom: 10px;
}

.input-container input {
    border: 1px solid #000;
    background: none;
}

#error-message {
    display: block;
}

.modal {
    position: static;
    display: block;
    background: none;
}

.modal-content {
    margin: 0;
    padding: 0;
    border: none;
    max-width: none;
    max-height: none;
    overflow: visible;
    opacity: 1;
    transform: none;
}

.close {
    display: none;
}

button[type="submit"] {
    border: 1px solid #000;
    background: none;
}