/* GENERALE */

:root{
    --bgcolor1: #000000; 
    --bgcolor2: #0B1520;
    --txtcolor: #ECDDEE;
    --linkcolor: #CE929D;
    --visitedcolor: #AC95AA;
}

body {
    max-width: 1024px;
    color: var(--txtcolor);
    background-color: var(--bgcolor2);
    font-size: 100%;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif; 
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}

/* ----------------------------------------------- */

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgcolor2);
}

header h1 {
    font-size: 5em;
}

/* ----------------------------------------------- */

/* MENU */

#menu {
    margin-bottom: 20px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    text-decoration: none;
    color: var(--txtcolor);
    padding: 5px 10px;
    transition: background-color 0.3s;
    display: inline-block;
    text-align: center;
    width: 120px;
    box-sizing: border-box;
}

#menu ul li a:hover {
    background-color: #ddd;
}

#menu ul li a.active {
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
}

/* ----------------------------------------------- */

/* INDEX */

#accountPopup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

/* ----------------------------------------------- */

/* SHOP */

.shop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* FILTERS */ 

.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    align-items: center;
}

.search-container {
    position: relative;
    width: 700px;
    margin: 0 auto;
}

#search-bar {
    padding: 8px 35px 8px 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
    pointer-events: none;
}

.filters-buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.filters button {
    flex: 0 0 150px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #6c757d;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filters button:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.filters button[data-type="all"] {
    background-color: #28a745;
}

.filters button[data-type="all"]:hover {
    background-color: #218838;
}

.filters button[data-type="abbigliamento"] {
    background-color: #17a2b8;
}

.filters button[data-type="abbigliamento"]:hover {
    background-color: #138496;
}

.filters .active-filter {
    background-color: #ffdd00;
    transform: scale(1.05);
    border: 2px solid #000;
}

/* CARD ELEMENT */

.card {
    width: 30%;
    height: 400px;
    margin: 2px;
    perspective: 1000px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    background: #f4f4f9;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease;
}

.card-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.card.flipped .card-front {
    transform: rotateY(-180deg);
}

.card.flipped .card-back {
    transform: rotateY(0deg);
}

.card-front img {
    max-width: 60%;
    object-fit: cover;
    margin-bottom: 10px;
}

.price {
    font-size: 1.1em;
    color: #333;
}

.info-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.info-btn:hover {
    background-color: #0056b3;
}

/* CART */

#cart {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    max-width: 300px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img.cart-item-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
}

.empty-cart {
    text-align: center;
    color: #777;
    margin-top: 20px;
}

.empty-cart-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

/* ----------------------------------------------- */

/* MUSIC */

.albumContainer  {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

.albumCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bgcolor1);
    color: var(--txtcolor);
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 1 40%;
    max-width: 600px;
    box-sizing: border-box;
}

.albumMain, .albumInfo, .tracklist {
    flex: 1 1 auto;
    padding: 0.5em;
    box-sizing: border-box;
}

.albumMain img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.albumInfo h3, .tracklist h4 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.tracklist ol {
    margin: 0;
    padding-left: 1em;
    list-style-position: inside;
}

/* ----------------------------------------------- */

/* ERRORE DI CONNESSIONE */

.errorPage {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20%;
}

.error {
    color: red;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: blue;
}

/* ----------------------------------------------- */

/* FOOTER */

footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
}

footer a {
    margin-right: 10px; 
    color: #aaa; 
    text-decoration: none;
}

.footerContainer {
    max-width: 1200px; 
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* Tre colonne uguali */
    gap: 20px;
    text-align: center; /* Centra il contenuto */
}

.footerContainer h3 {
    font-size: 18px; 
    color: #fff;
}

.imgValidCode {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 15px;
}

.social i {
    font-size: 24px; 
    margin-right: 8px;
}

/* ----------------------------------------------- */
