/* Styles */

/* Stile per .extra-details */
.extra-details {
  margin-top: 10px;
}


h3 {
  font-size: 1.8em;
  margin-top: 30px;
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

dl {
  padding-left: 10%;
  max-width: 80%;
  margin: auto;
}

dt {
  float: left;
  clear: both;
  width: 30%;
  font-weight: bold;
  text-transform: uppercase;
  direction: rtl;
  margin-left: -30%;
}

dd {
  position: relative;
  float: left;
  margin: 0;
  padding-bottom: 1.2em;
  padding-left: 1.5em;
  width: 65%;
  opacity: 0.6;
}
dd:hover {
  opacity: 1;
}
dd + dd {
  clear: both;
}
dd::before {
  content: "";
  position: absolute;
  top: 0.15em;
  left: 0;
  z-index: 1;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  background: currentColor;
}
dd:not(:last-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.15em;
  left: calc(0.25em + 1px);
  border-left: 1px solid #888;
  height: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  dt {
      width: 25%;
      margin-left: -25%;
  }
  dd {
      width: 70%;
  }
}

@media (max-width: 480px) {
  dt {
      width: 20%;
      margin-left: -20%;
      font-size: 0.9em;
  }
  dd {
      width: 75%;
  }
}
