/* TIMELINE */

main {
  display: block;  
  overflow: auto;  
  min-height: 100vh; 
}

main::after {
  content: "";
  display: block;
  clear: both;
}

.extra-details {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.extra-details[aria-hidden="true"] {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

.extra-details[aria-hidden="false"] {
  opacity: 1;
  transform: translateY(0);
}

.extra-details .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.extra-details .button-container button {
  font-size: 1rem;
  padding: 10px 15px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.buy{
  background-color: var(--btnConferma);
}

.close{
  background-color: var(--pulsantecolor1);
}

dl {
  padding-left: 20%;
  max-width: 80%;
  margin: auto;
}

dt {
  float: left;
  clear: both;
  width: 30%;
  padding: 1.2em 1.5em;

  font-weight: bold;
  text-transform: uppercase;
  direction: rtl;
  margin-left: -30%;
}

dd {
  position: relative;
  float: left;
  padding: 1.2em 1.5em;
  width: 65%;
  opacity: 0.8;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  margin-top: 0.5em; /* Riduci il margine superiore */
}

dd + dd {
  clear: both;
}

dd::before {
  content: "";
  position: absolute;
  top: 0.7em; /* Regola la posizione per far toccare i puntini le linee */
  left: -0.8em;
  z-index: 1; /* Per evitare che il bordo venga coperto dal contenuto */
  border: 2px solid #fff;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  background: currentColor;
}

dd:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -0.45em;
  border-left: 1px solid #888;
  height: 100%;
}

dd p {
  margin-top: -11.5px;
}

dl dt {
  margin-top: -23px;
  margin-right: -20px;
}

@media (max-width: 768px) {
  dt {
      width: 25%;
      margin-left: -25%;
  }
  dd {
      width: 70%;
  }
}

@media (max-width: 480px) {
  dt {
      width: 20%;
      margin-left: -20%;  /* DA FIXARE */
      font-size: 0.9em;
  }
  dd {
      width: 75%;
  }
  button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.extra-details[aria-hidden="false"] {
  animation: fadeIn 0.2s ease;
}
