RewriteEngine On

# Rimuove .html dalle URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# (Opzionale) Reindirizzamento da nome.html a URL senza .html
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?]
RewriteRule ^ /%1 [R=301,L]

# Rimuove .php dalle URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# (Opzionale) Reindirizzamento da nome.php a URL senza .php
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?]
RewriteRule ^ /%1 [R=301,L]